/*
p 
{
    color: red;
}
*/

html 
{
    font-size: 10px;
    font-family: "Karla", sans-serif;
    background-color: #00395c;
}
/* this is for the overall html tag, so now every piece of text will be in this font (fine by me btw lol) */

h1
{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(1, 230, 62);
    text-shadow: 3px 3px 1px black;
}

p, li, a
{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: white;
}

h3
{
    color: white;
    font-size: 20px;
}

body
{
    width: 600px;
    margin: 0 auto;
    background-color: darkslateblue;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img
{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}